html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.preload * {
  transition: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link:hover {
  cursor: pointer
}

.prompt {
  white-space: pre-wrap;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: auto;
  width: 100%;
}