.tugContainer {
    position: relative;
    height: 140px;
    grid-area: 1 / 2 / -1 / 3;
    background: #f2f2f2;
    border-radius: 5px;
}

.car {
    position: absolute;
    top: 30%;
    height: 100px;
}

.rope {
    position: absolute;
    top: 90px;
    transform: translateX(-50%);
    width: 170px;
    height: 10px;
    background-image: url('/rope.png');
    background-position-y: center;
}

.mini .rope {
    width: 32px;
    transform: translateX(31%)
}

.prompt {
    height: 210px;
}

.tickLines {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.tickLines span {
    transition: opacity 0.3s;
}

.normalWin ~ .normalWin, .overtime ~ .overtime, .doubleOvertime ~ .doubleOvertime {
    width: 2px;
    border: 4px solid rgb(12, 38, 146)
}

.normalWin, .overtime, .doubleOvertime {
    width: 2px;
    border: 4px solid rgb(244, 214, 92)
}

.timer {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid black;
}

.tickLines .starting {
    border-color: white;
    border-style: dashed;
    border-width: 5px;
    border-left: none;
}

.AP .doubleOvertime, .OJ .doubleOvertime {
    opacity: 0.1;
}

.AP .overtime, .OJ .overtime, .OV .doubleOvertime {
    opacity: 0.2;
}

.AP .normalWin, .OJ .normalWin, .OV .overtime, .DO .doubleOvertime {
    opacity: 1.0;
}

.OV .normalWin, .DO .overtime, .DO .normalWin {
    opacity: 0;
}

.inputBox {
    height: 100%;
    resize: none;
}

.textsContainer {
    height: 50%;
}

/* Ended Tug */

.endedTug {
    display: grid;
    margin: 50px 40px 10px 30px;
    grid-gap: 10px;
    grid-template-columns: 1fr 55% 1fr;
    grid-template-rows: 175px auto;
}

.endedTug .hostNumbers {
    grid-area: 1 / 1;
}

.guestNumbers {
    grid-area: 1 / 3;
}

.textLeaderboard {
    grid-row: 2;
    grid-column: 1 / 3;
}

.textInfo {
    grid-row: 2 / -1;
    grid-column: 3;
}